<h1 class="bg-slate-500 mt-4 font-bold p-2">
  "Pipes" <small class="font-normal">from Angular</small>
</h1>
<div class="m-8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="variable">
      <th mat-header-cell *matHeaderCellDef>Variable</th>
      <td mat-cell *matCellDef="let element">{{ element.variable }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pipe">
      <th mat-header-cell *matHeaderCellDef>Pipe</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.pipe !== 'contrasenia'">
          {{ element.pipe }}
        </ng-container>
        <ng-container *ngIf="element.pipe === 'contrasenia'">
          {{ element.pipe }}: {{ activar }}
          <br />
          <button
            (click)="activar = !activar"
            mat-raised-button
            color="primary"
            class="mb-2"
          >
            Activar
          </button>
        </ng-container>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="salida">
      <th mat-header-cell *matHeaderCellDef>salida</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.pipe === 'capitalizar'">
          {{ element.variable | capitalizar }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'Uppercase'">
          {{ element.variable | uppercase }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'Lowercase'">
          {{ element.variable | lowercase }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'Slice:3'">
          {{ element.variable | slice : 3 }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'Slice:0:3'">
          {{ element.variable | slice : 0 : 3 }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'Slice:1:5'">
          {{ element.variable | slice : 1 : 5 }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'number:1.0-0'">
          {{ element.variable | number : "1.0-0" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'number:.0-2'">
          {{ element.variable | number : ".0-2" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'percent'">
          {{ element.variable | percent }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'percent:2.2-2'">
          {{ element.variable | percent : "2.2-2" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'currency'">
          {{ element.variable | currency }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'currency:EUR'">
          {{ element.variable | currency : "EUR" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'currency:CAD:symbol:.0-0'">
          {{
            element.variable | currency : "CAD" : "symbol" : ".0-0"
          }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'Async'">
          {{ element.variable | async }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'date'">
          {{ element.variable | date }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'date:medium'">
          {{ element.variable | date : "medium" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'date:short'">
          {{ element.variable | date : "short" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'date:MMMM-dd-y'">
          {{ element.variable | date : "MMMM-dd-y" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'date:MMMM-dd-y: string :en'">
          {{ element.variable | date : "MMMM-dd-y" : "" : "en" }}</ng-container
        >
        <ng-container *ngIf="element.pipe === 'date:MMMM-dd-y: string :idioma'">
          {{ element.variable | date : "MMMM-dd-y" : "" : idioma }}
          <br />
          <button
            mat-raised-button
            (click)="idioma = 'es'"
            color="primary"
            class="mb-2 mr-2"
          >
            Español
          </button>
          <button
            mat-raised-button
            (click)="idioma = 'en'"
            color="primary"
            class="mb-2 mr-2"
          >
            Ingles
          </button>
          <button
            mat-raised-button
            (click)="idioma = 'fr'"
            color="primary"
            class="mb-2"
          >
            Frances
          </button>
        </ng-container>
        <ng-container *ngIf="element.pipe === 'contrasenia'">
          {{ element.variable | safepassword : activar }}</ng-container
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<h3>JSON</h3>
<hr />
<div class="mb-8">
  <pre>
    {{ heroe | json }}
  </pre>
</div>
<h3 class="mt-4">Dom Seguro</h3>
<hr />
<div>
  <iframe
    width="560"
    height="315"
    [src]="videoUrl | domseguro"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  >
  </iframe>
</div>
<div class="h-8"></div>
